@import "_variables";

div.actions {

  padding: 5px;
  height: 100%;
}

.action-button {
  .border(1px);
  display: inline-block;
  padding: 5px;
  margin: 10px;
  background-color: darken(@font-color, 40%);

  &:hover {
    background-color: darken(@font-color, 30%);
  }
}