<!DOCTYPE html>
<html ng-app="game">
<head lang="en">
    <meta charset="UTF-8">
    <title>game</title>

    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/press-start-2p" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/dotrice" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/fifteen" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/seterset" rel="stylesheet" type="text/css"/>

    <script src="/public/vendor.js"></script>
    <script src="/public/application.js"></script>
    <link rel="stylesheet" href="/public/styles.css"/>
</head>
<body>

<header>
    <div>
        title goes here
    </div>
</header>
<div ui-view id="container"></div>
</body>
</html>